@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600;700&family=Khula:wght@300;400;600;700;800&display=swap');

body {
  text-align: center;
  margin-top: 10%;
  font-size: 16px;
  background-color: #F4EFEA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blowdry {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}

h1 {
  font-family: 'Cormorant Garamond', sans-serif;
  color: #151512;
  font-size: 3em;
}

hr {
  border-top: 3px solid #E1CCC4;
  width: 50%;
  margin-left: 25%;
}

.text-container {
  margin: 2em;
  width: 50%;
  margin-left: 25%;
}

p {
  font-size: 2em;
  font-family: 'Khula Light', sans-serif;
  text-shadow: 0px 10px 14px #ffffff;
  z-index: 100;
}

img {
  width: 20%;
}

a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

.image-container {
  opacity: 0.15;
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
}

@media only screen and (min-width: 600px) and (max-width:850px) {
  img {
    width: 80%;
  }

  .text-container {
    width: 80%;
    margin-left: 10%;
  }


}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  .text-container {
    width: 80%;
    margin-left: 10%;
  }

  p {
    font-size: 1em;
  }

  img {
    width: 100%;
  }

  .blowdry {
    height: 100%;
  }
}